* {
  user-select: none;
  cursor: default;
}
.menuBar {
  position: relative;
  z-index: 1;
}

.menu {
  position: relative;
  z-index: 2;
}

.login-form,
.signup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}